@charset "utf-8";


.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 30px 15px;
  position: absolute;
}
.HeartLikeButton {
  position: relative;
  width: 160px;
  height: 130px;
}
.HeartLikeButton:before {
  position: absolute;
  top: 0;
  left: 24px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  width: 28px;
    height: 50px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}
.HeartLikeButton:after {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
  width: 28px;
    height: 50px;
  border-radius: 40px 40px 0 0;
  background-color: #574136;
  content: "";
  cursor: pointer;
  transition: background .4s;
}

.HeartLikeButton.liked::before,
.HeartLikeButton.liked::after {
  background-color: #d65076;
}
.HeartLikeButton.liked {
  animation: liked .4s ease;
}
@keyframes liked {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 480px) {
  .Container {
    height: auto;
  }
  h1 {
    font-size: 2.5rem;
  }
}
